<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">

<body>
<div class="container">
    <div class="row align-items-center justify-content-center vh-100">
        <div class="col-md-7">
            <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" class="w-50">
            <h3>Facebook helps you connect and share with the people in your life.</h3>
        </div>
        <div class="col-md-5">
            <form class="login-form" action="#">
                <div class="mb-3">
                    <input type="text" ng-model="loginRequest.username" class="form-control" placeholder="Username"
                           required>
                </div>
                <div class="mb-3">
                    <input type="password" ng-model="loginRequest.password" class="form-control" placeholder="Password"
                           required>
                </div>
                <button type="button" ng-click="login()" class="btn btn-custom btn-lg btn-block mt-3 col-md-12">Login</button>
                <div class="text-center pt-3 pb-3">
                    <hr>
                    <h2>Sign UP</h2>
                    <div class="row mb-3 m-0">
                        <input type="text" ng-model="user.username" class="form-control" placeholder="Username"
                               required>
                    </div>
                   <div class="row">
                    <div class="mb-3 col-md-6">
                        <input type="text" ng-model="user.firstName" class="form-control" placeholder="Firstname"
                               required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <input type="text" ng-model="user.lastName" class="form-control" placeholder="Lastname"
                               required>
                    </div>

                   </div>
                    <div class="mb-3 col-md-12">
                        <input type="password" ng-model="user.password" class="form-control" placeholder="Password"
                               required>
                    </div>

                    <div class="mb-3">
                        <label for="file" class="form-label">Avatar</label>
                        <input type="file" name="file" class="form-control" id="file"  ng-model="file"  ngf-select="fileSelected(file)" ng-change="fileSelectesd()">
                    </div>




                    <button type="button" ng-click="register()" class="btn btn-success btn-lg mt-3">Create New Account</button>
                </div>
            </form>
            <p class="pt-3 text-center"><b>Create a Page</b> for a celebrity, band or business.</p>
        </div>
    </div>
</div>
</body>
